version: "3.8"

services:
  
  mongo:
    image: mongo
    container_name: mongo_db
    ports:
      - 27017:27017
    volumes:
      - mongo_data:/data/db
  
  backend:
    build: ./backend
    container_name: node_backend
    ports:
      - 9090:9090
    depends_on:
      - mongo
    environment:
      - MONGO_URL=mongodb://mongo:27017/meanDB

  frontend:
    build: ./frontend
    container_name: angular_frontend
    ports:
      - 8081:80
    depends_on:
      - backend
  
volumes:
  mongo_data:


