version: "3.8"

services:
  
  mongo:
    image: mongo
    container_name: mongo_db
    ports:
      - 27017:27017
    volumes:
      - mongo_data:/data/db
  
  backend:
    image: srivenkatesh04/backend:latest
    container_name: node_backend
    ports:
      - 9090:9090
    depends_on:
      - mongo
    environment:
      - MONGO_URL=mongodb://mongo:27017/meanDB
      - PORT=9090 

  frontend:
    image: srivenkatesh04/frontend:latest
    container_name: angular_frontend
    ports:
      - 8081:80
    depends_on:
      - backend

  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    ports:
      - 80:80
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend
  
volumes:
  mongo_data:


